html {
    background-image: url("img/schatkistbck1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main img {
    max-width: 474px;
    align-self: center;
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
}

#myContainer {
    margin-top: 5em;
    align-self: center;
}